<!-- Modal برای تصویر قرارداد -->
<div class="modal fade" id="contractModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">تصویر قرارداد</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="contractForm" enctype="multipart/form-data">
                    <input type="hidden" id="contractRecordId" name="id" value="">
                    <div class="mb-3 text-center">
                        <img id="contractImagePreview" src="" class="img-fluid rounded"
                            style="max-height: 400px; display: none;">
                        <div id="noContractImage" class="alert alert-info">تصویری موجود نیست</div>
                    </div>
                    <div class="mb-3">
                        <label for="contractFile" class="form-label">انتخاب فایل تصویر (فرمت‌های مجاز: JPG, JPEG,
                            PNG)</label>
                        <input class="form-control" type="file" id="contractFile" name="contractFile"
                            accept=".jpg,.jpeg,.png">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i> بستن
                </button>
                <button type="button" class="btn btn-primary" id="uploadContract">
                    <i class="bi bi-upload me-1"></i> ذخیره تصویر
                </button>
            </div>
        </div>
    </div>
</div>